{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Profile</h1>
    <div class="card mx-auto d-flex flex-row align-items-center" style="max-width: 500px;">
        <!-- Profile Picture -->
        <div class="p-3">
            {% if user.avatar %}
                <img 
                    src="{{ user.avatar.url }}" 
                    alt="Profile Picture" 
                    class="img-thumbnail" 
                    style="width: 150px; height: 150px; object-fit: cover;">
            {% else %}
                <img 
                    src="{% static 'accounts/images/blank-profile-picture.png' %}" 
                    alt="Default Profile Picture" 
                    class="img-thumbnail" 
                    style="width: 150px; height: 150px; object-fit: cover;">
            {% endif %}
        </div>
        <!-- User Information -->
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text">
                <strong>Name:</strong> 
                {{ user.name }} {{ user.surname_1 }}{% if user.surname_2 %} {{ user.surname_2 }}{% endif %}
            </p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            {% if user.role %}
                <p class="card-text"><strong>Role:</strong> {{ user.get_role_display }}</p>
            {% endif %}
        </div>
    </div>
    <!-- Edit Profile Button -->
    <div class="text-center mt-4">
        <a href="{% url 'profile_form' %}" class="btn btn-primary">Editar Perfil</a>
    </div>
    <!-- Options for Teachers -->
    {% if user.role == 'teacher' %}
    <div class="text-center mt-3">
        <a href="{% url 'create_sheet' %}" class="btn btn-success">Crear Hoja Interactiva</a>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'teacher_sheets' %}" class="btn btn-info">Ver Mis Hojas</a>
        <a href="{% url 'classroom_list' %}" class="btn btn-info btn-block mt-3">View My Classes</a>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'list_notebooks' %}" class="btn btn-warning">Ver Mis Cuadernos</a>
    </div>
    {% endif %}
    <!-- Options for Students -->
    {% if user.role == 'student' %}
    <div class="text-center mt-3">
        <a href="{% url 'student_sheets' %}" class="btn btn-info">Ver Mis Hojas</a>
        <a href="{% url 'student_classroom' %}" class="btn btn-info btn-block mt-3">Ver Mi Clase</a>
    </div>
    {% endif %}
</div>
{% endblock %}