{% extends 'base.html' %}
{% load static %}

{% block title %}
Crear Ficha Interactiva
{% endblock %}

{% block extra_css %}
<!-- CSS específico -->
<link rel="stylesheet" href="{% static 'interactive_sheets/css/interactive_sheet.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Crear Ficha Interactiva</h1>
    <form method="post" enctype="multipart/form-data" id="interactive-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="interactive_options" id="interactive-options">
        <div class="mb-3">
            <label for="id_subject" class="form-label">{{ form.subject.label }}</label>
            {{ form.subject }}
            {{ form.subject.errors }}
        </div>
        <div class="mb-3">
            <label for="id_statement" class="form-label">{{ form.statement.label }}</label>
            {{ form.statement }}
            {{ form.statement.errors }}
        </div>
        <div class="mb-3">
            <label for="id_base_image" class="form-label">{{ form.base_image.label }}</label>
            {{ form.base_image }}
            {{ form.base_image.errors }}
        </div>
        <div class="mb-3 form-check">
            {{ form.is_public }}
            <label for="id_is_public" class="form-check-label">{{ form.is_public.label }}</label>
            {{ form.is_public.errors }}
        </div>
        <div class="mb-3">
            <label for="id_expiration_date" class="form-label">{{ form.expiration_date.label }}</label>
            {{ form.expiration_date }}
            {{ form.expiration_date.errors }}
        </div>

        <!-- Opciones Interactivas -->
        <div class="mb-3">
            <h3>Opciones Interactivas</h3>
            <div class="btn-group mb-3">
                <button type="button" class="btn btn-primary" id="add-text-box">Cuadro de Texto</button>
                <button type="button" class="btn btn-secondary" id="add-union">Unión</button>
                <button type="button" class="btn btn-success" id="add-check">Check</button>
                <button type="button" class="btn btn-info" id="add-select">Dropdown</button>
                <button type="button" class="btn btn-warning" id="add-draggable">Elemento Arrastrable</button>
            </div>
        </div>

        <!-- Área Interactiva -->
        <div class="interactive-area-container">
            <div id="interactive-area" class="interactive-area">
                <img id="uploaded-image" src="#" alt="Imagen Base" class="img-fluid" style="display: none;">
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Crear Ficha</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<!-- JavaScript específico -->
<script src="{% static 'interactive_sheets/js/interactive_sheet.js' %}"></script>
{% endblock %}