{% extends 'base.html' %}
{% load static %}
{% block title %}
Sheet Details
{% endblock %}
{% block extra_css %}
<!-- CSS específico -->
<link rel="stylesheet" href="{% static 'interactive_sheets/css/sheet_detail.css' %}">
<link rel="stylesheet" href="{% static 'interactive_sheets/css/interactive_sheet.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ sheet.subject }}</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p><strong>Subject:</strong> {{ sheet.subject }}</p>
            <p><strong>Statement:</strong> {{ sheet.statement }}</p>
            <p><strong>Expiration Date:</strong> {{ sheet.expiration_date }}</p>
            <p><strong>Status:</strong> {{ sheet.get_status_display }}</p>
            <p><strong>Public:</strong> {{ sheet.is_public|yesno:"Yes,No" }}</p>
            <div class="interactive-area-container">
                <div id="interactive-area" class="interactive-area" data-sheet-id="{{ sheet.id }}">
                    {% if sheet.base_image %}
                        <img id="uploaded-image" src="{{ sheet.base_image.url }}" alt="Base Image" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'teacher_sheets' %}" class="btn btn-secondary">Back to My Sheets</a>
        <a href="#" class="btn btn-warning">Edit</a>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'interactive_sheets/js/sheet_detail.js' %}"></script>
{% endblock %}